
tc competitivo y estable.Rmd
tc-competitivo-y-estable.html
output/2003-2007.html
output/2006-2012.html
output/2011-2016.html
output/2019-hoy.html
output/2015-2020.html
output/devaluacion_argentina.html
output/grafico_devaluacion_socios.html
output/indice_monedas.html
output/grafico_brecha.html
output/Tc a precios de hoy.xlsx
output/ITCRM historico.xlsx
tc-competitivo-y-estable.Rmd
